
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: solaiman;
    src: url("../src/assets/fonts/SolaimanLipi.woff2");
}
@theme {
    --font-solaiman : solaiman, "sans-serif";
}